<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <components>
    <component id="primaryDaoFactory"
               type="Biodata.Data.NHibernateDaoFactory, Biodata.Data"
               service="Biodata.Core.DataInterfaces.IDaoFactory, Biodata.Core">
      <parameters>
        <sessionFactoryConfigPath>C:\Inetpub\wwwroot\Medusa\Biodata\BiodataNHibernate.config</sessionFactoryConfigPath>
      </parameters>
    </component>
  </components>
</configuration>